<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>등록</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<form action="/insert" method="post">

    <input name="title" placeholder="제목을 입력하세요.">
    <input name="content" placeholder="내용을 입력하세요.">

    <input type="file" name="img_file">

    <button type="submit">전송</button>

</form>
</body>
</html>