<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
</head>
<body>
<div>
    <a href="/file-insertForm">등록하기</a>
</div>
<h1>게시판 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <!-- boards는 Controller에서 model.addAttribute("boards", list); 로 전달 -->
    <tr th:each="file : ${files}">
        <td th:text="${file.fileId}">1</td>
        <td>
            <a th:href="@{'/file-detail/' + ${file.fileId}}"
               th:text="${file.fileValue}">제목</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>