<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>목록</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body>

<div class="detail">
    <h4>상세페이지</h4>

    <div th:if="${detail.fileId != null}">
        <h5>첨부파일</h5>
        <a th:href="@{'/file-download/' + ${detail.fileId}}">
            <button type="button">📥 파일 다운로드</button>
        </a>
    </div>

</div>

</body>
</html>